<html>
    <head>
        <link rel="stylesheet" href= {{ url_for('static', filename='style.css') }} type="text/css" />
    </head>
    <body>
        <h1>Hello, World! {{ random_number }}</h1>
        <h2>Hello, World!</h2>
        <h3>Hello, World!</h3>
        <h4>Hello, World!</h4>
        <h5>Hello, World!</h5>
        <img height="400px" src="https://images.theconversation.com/files/243439/original/file-20181101-83635-1xcrr39.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip"></img>
    </body>
</html>